.one::before {
    background: #7e7e7e;
    left: 200px;
}

.one::after {
    background: #7e7e7e;
    right: 200px;
}

.one::after,
.one::before {
    content: "";
    height: 1px;
    position: absolute;
    top: auto;
    width: 15%;
}

.modal label {
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.modal span {
    text-transform: uppercase;
}

.table_profile {
    padding: 10px;
    width: 100%;
}
.table_profile td {
    padding: 10px;
}

